# =========================
# Spring Boot / Java Builds
# =========================
**/target/
**/build/
!**/src/main/target/
!**/src/test/target/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/
.metadata/
/.metadata/


# =========================
# Build Tools & OS Specific
# =========================
.mvn/

# =========================
# Git
# ========================= 
**/.gitattributes